body{
  background-color: #030311;
  font-family: 'Quicksand', sans-serif;
}
.main-icon{
  width: 19rem;
  display: block;
  margin: 0 auto;
  margin-top: 4em;
  filter: drop-shadow(10px 13px 10px #eda329);
}
.intro-to-web-app{
  color: white;
  text-align: center;
  font-size: 2em;
}
.get-started{
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  background-color: rgb(17, 110, 187);
  padding: 1em 3em;
  border-radius: 20px;
  border-style: none;
  width: 10vw;
  text-align: center;
}
.get-started:hover{
  background-color: rgb(59, 144, 214);
}